.dropbtn, .dropbtn1, .dropbtn2, .home1 {
	display: block;
	background-color: transparent;
	color: black;
	padding: 1em;
	font-size: 16px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-top: 2px;
}

.menu {
	display: block;
	background-color: transparent;
	color: black;
	padding: 1em;
	font-size: 16px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-top: 2px;
}

/***********************************************************************************************************************************************************************************************************************/

.dropdown, .home {
	float: left;
	position: relative;
	display: inline-block;
	background-color: transparent;
}

.id {
	min-width: 175px;
	text-align: center;
	float: right;
	position: relative;
	display: inline-block;
	background-color: transparent;
	
}
/************************************************************************************************************************************************************************************************************************/
.id button {
	outline: none;
}

.dropdown button {
	outline: none;
}


.dropdown-content, .dd, .dropdown-content1 {
  display: none;
  margin-right: 20px;
  color: black;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  background-color: white;
  border:5px;
  border-style: solid;
  border-color: rgba(200,200,200,0.5);
}

.dropdown-content a {
  color: black;
  padding: 1em;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a {
  color: black;
  padding: 1em;
  text-decoration: none;
  display: block;
}

.dd a {
	color: black;
	padding: 1em;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: rgba(200,200,200,0.5);}

.dropdown:hover {background-color: rgba(200,200,200,0.5);}


.id a:hover {background-color: rgba(200,200,200,0.5);}

.show {display: block;}

@media screen and (max-width: 900px) {
	.dropdown, .home {
		margin: 0 auto;
		float: none;
		display: block;
	}
		
	.dropbtn, .dropbtn1, .dropbtn2, .home1, .menu {
		margin: 0 auto;
		display: block;
	}
	
	.dropdown-content {
		position: relative;
		margin: 0 auto;
	}
	
	.dropdown-content a {
		color: black;
	}
	
	.dropdown-content1 {
		position: relative;
		margin: 0 auto;
	}
	
	.dropdown-content1 a {
		color: black;
	}


}